.error {
    color: red;
}

.demo-layout-transparent {
    background: #fcc890;
    height: 100%
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    color: black;
}

.demo-card-wide.mdl-card {
    width: 512px;
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('https://placebear.com/g/1200/600') center / cover;
}

.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

#main-body {
    height: 100%;
    overflow: hidden;
}