{% extends "base.html" %}

{% block content %}

    {% if posts|length == 0 %}
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        <p>No user posts yet</p>
    {% else %}

        {% for post in posts %}

            <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">{{ post.title }}</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    {{ post.body }}
                    <p>
                        <i>Written by <a href="/blog?user={{ post.user.username }}">{{ post.user.username }}</a>
                            on {{ post.date }}
                        </i>
                    </p>
                </div>

                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        <a href="/blog?id={{ post.id }}">Read post</a>
                    </a>
                </div>
            </div>
            <br/>

        {% endfor %}
        </div>
    {% endif %}

{% endblock %}